$app-pri: #FF3E66;
$app-sec: #00AF9B;
$app-ter: rgba(255, 62, 102, 0.5);

$app-bg: #FFFFFF;

$text-pri: #585858;
$text-sec: #FFFFFF;


$nav-hover: #F8F8F8;

$course-bg: radial-gradient(circle, #ffffff, #e4f2ff, #acecff, #60e7f8, #00dfca);

$rounding-pri: 4px;

$font-pri: "Montserrat", sans-serif;
$font-sec:  "Roboto", sans-serif;

$shadow-pri: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20); //2dp
$shadow-sec: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20); //4dp
$shadow-hover: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20); //8dp
