@import "settings-variables";
@import "settings-breakpoints";


dialog {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 90vh;
	border: 1px solid $primary-color;
	box-shadow: $primary-shadow;
	z-index: 1001;

	img {
		height: 100%;
		width: auto;
	}
}
