@import "settings-variables";
@import "settings-breakpoints";


dialog {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 80vh;
	border: 1px solid $app-pri;
	box-shadow: $shadow-pri;
	z-index: 1001;

	img {
		height: 100%;
		width: auto;
	}
}
