<div class="about">

	<div class="about__highlights highlighted"> {{'about.highlight' | translate}}</div>

	<address class="about__address column column--left-aligned">
		<a href="#"><i class="fas fa-user"></i> Emiliya Chavdarova</a>
		<a href="#"><i class="fas fa-map-marker-alt"></i> Hamburg, Germany</a>
		<a href="mailto:chavdarova.e@gmail.com"><i class="fas fa-envelope"></i>
			chavdarova.e&#64;gmail.com</a>
		<a href="https://www.linkedin.com/in/emiliya-chavdarova"><i class="fab fa-linkedin"></i>
			https://www.linkedin.com/in/emiliya-chavdarova/</a>
		<a href="https://github.com/chavdarovae"><i class="fab fa-github-square"></i>
			https://github.com/chavdarovae</a>
	</address>

	<div class="about__journey column column--centered">
		<h2>{{ 'about.journey.title' | translate}}</h2>

		<div class="about__journey-icon">
			<img src="icons/crossroad.svg" alt="Crossroads icon">
		</div>

		@for (parIndex of 5 | rangePipe; track parIndex) {
			<p class="about__journey-item"> {{ ('about.journey.p' + parIndex )| translate}} </p>
		}
	</div>

	<div class="about__skills  column column--centered">
		<div class="about__skills-entry skill-set">
			<h3 class="skill-set__title">{{'about.skills.core' | translate}}</h3>
			<ul class="skill-set__list">
				<li class="skill-set__list-item">JavaScript / TypeScript</li>
				<li class="skill-set__list-item">Angular</li>
				<li class="skill-set__list-item">Express / NestJS</li>
				<li class="skill-set__list-item">jQuery</li>
				<li class="skill-set__list-item">Sammy.js</li>
				<li class="skill-set__list-item">Jasmin / Jest</li>
				<li class="skill-set__list-item">Cypress </li>
				<li class="skill-set__list-item">HTML</li>
				<li class="skill-set__list-item">CSS / SASS</li>
				<li class="skill-set__list-item">MongoDB</li>
				<li class="skill-set__list-item">Figma / Sketch</li>
				<li class="skill-set__list-item">Handlebars</li>
				<li class="skill-set__list-item">MJML</li>
				<li class="skill-set__list-item">REST </li>
				<li class="skill-set__list-item">AJAX</li>
				<li class="skill-set__list-item">GIT / GitLab / GitHub</li>
				<li class="skill-set__list-item">Confluence / Jira</li>
			</ul>
		</div>

		<div class="about__skills-entry skill-set">
			<h3 class="skill-set__title">{{'about.skills.additional' | translate}}</h3>
			<ul class="skill-set__list">
				<li class="skill-set__list-item">{{'about.skills.solver' | translate}}</li>
				<li class="skill-set__list-item">{{'about.skills.designer' | translate}}</li>
				<li class="skill-set__list-item">{{'about.skills.leader' | translate}}</li>
				<li class="skill-set__list-item">{{'about.skills.manager' | translate}}</li>
			</ul>
		</div>

		<div class="about__skills-entry skill-set">
			<h3 class="skill-set__title">{{'about.skills.engineering' | translate}}</h3>
			<ul class="skill-set__list">
				<li class="skill-set__list-item">AutoCAD</li>
				<li class="skill-set__list-item">Autodesk Revit</li>
				<li class="skill-set__list-item">SAP 2000 & Midas Civil</li>
				<li class="skill-set__list-item">SketchUp & Aztec</li>
			</ul>
		</div>

		<div class="about__skills-entry skill-set">
			<h3 class="skill-set__title">{{'about.skills.language' | translate}}</h3>
			<ul class="skill-set__list">
				<li class="skill-set__list-item">{{'about.skills.bg' | translate}}</li>
				<li class="skill-set__list-item">{{'about.skills.en' | translate}}</li>
				<li class="skill-set__list-item">{{'about.skills.de' | translate}}</li>
				<li class="skill-set__list-item">{{'about.skills.it' | translate}}</li>
			</ul>
		</div>
	</div>

	<div class="about__education column column--centered">
		<h2>{{ 'about.education.title' | translate}}</h2>

		<div class="about__education-icon">
			<img src="icons/education.svg" alt="Brain icon">
		</div>

		<div class="about__education-entry">
			<h2>{{ 'about.education.softUni' | translate}}</h2>
			<p>{{ 'about.education.program' | translate}}</p>

			<h4 id="certificateTrigger" data-collaps="►">{{ 'about.education.certificates' | translate}}</h4>

			<div class="certificate-holder animations-fancy-list">
				@for (cert of certList; track cert;) {
					<div class="certificate" (click)="appService.showDialog('images/certification/' + cert.img)">
						<img [src]="'images/certification/' + cert.img" [alt]="'images ' + cert.course">
						<span>{{cert.course}}</span>
					</div>
				}
			</div>
		</div>
		<div class="about__education-entry">
			<h3>{{ 'about.education.uasg' | translate}}</h3>
			<p>{{ 'about.education.master' | translate}}</p>
		</div>
	</div>

</div>

