@import "settings-variables";
@import "settings-breakpoints";

.main__about {
	.content-container {
		grid-template-areas:
            "highlights"
            "journey"
            "skills"
            "education"
            "address";

		@include for-tablet-landscape-up {
			grid-template-columns: 400px 1fr;
			// grid-template-rows: min-content min-content min-content min-content;

			grid-template-areas:
                "address highlights"
                "skills journey"
                "skills education";
		}
	}

	&-title {
		grid-area: title;
	}

	&-highlights {
		grid-area: highlights;
	}

	&-journey {
		grid-area: journey;

		@include for-tablet-landscape-up {
			justify-content: space-between;
		}
	}

	&-education {
		grid-area: education;

		@include for-tablet-landscape-up {
			justify-content: space-between;
		}

		h4 {
			width: fit-content;
			cursor: pointer;
			position: relative;

			&:after {
				content: attr(data-collaps);
				display: inline;
				font-size: 10px;
				position: absolute;
				top: 0;
				right: -13px;
			}
		}

		.text-like-list {
			li {
				opacity: 0;
			}
		}
	}

	&-address {
		grid-area: address;
		min-height: 135px;
		justify-content: space-between;
		width: 100%;
		background-color: #f9f0a3;
		padding: 20px 10px;
		border-radius: $primary-rad;

		@include for-tablet-landscape-up {
			min-height: 95px;
			padding: 0;
			background-color: #fff;
			box-shadow: none;
			border-radius: none;
		}
	}

	&-skills {
		grid-area: skills;

		@include for-tablet-landscape-up {
			justify-self: start;
		}
	}
}
