@import "settings-variables";
@import "settings-breakpoints";

:host {
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-items: stretch;
	align-items: stretch;

	@include for-tablet-landscape-up {
		grid-template-columns: 280px 1fr;
		grid-column-gap: 60px;
		grid-row-gap: 60px;
	}

}

.address-holder {
	i {
		width: 20px;
	}
}

.skill-holder {
	grid-row: span 3;
}

.skill {
	width: 100%;

    h3 {
		display: flex;
		justify-content: center;
		align-items: center;
        width: 100%;
		height: 40px;
        border-radius: $rounding-pri;
        background-color: $app-pri;
        color: $text-sec;
        text-transform: uppercase;
		font-family: $font-sec;

        @include for-tablet-landscape-up {
            margin: 0;
        }
    }

   	ul {
		list-style-type: none;
		padding: 10px 0 30px;
		text-align: center;

        @include for-tablet-landscape-up {
            text-align: left;
			padding: 30px 30px 50px;
        }
    }

    li {
		font-family: $font-sec;
        margin: 10px 0 0 0;
    }
}


.certificate-holder {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 30px;
	margin: 30px 0;
}

.certificate {
	width: 190px;
	position: relative;

	img {
		width: 100%;
		height: auto;
	}

	span {
		transform-origin: center center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-60deg);
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
