@import "settings-variables";
@import "settings-breakpoints";

.about {
	display: grid;
	grid-template-areas:
		"highlights"
		"journey"
		"skills"
		"education"
		"address";
	grid-column-gap: 20px;
	grid-row-gap: 20px;

	@include for-tablet-landscape-up {
		grid-template-columns: 400px 1fr;
		// grid-template-rows: min-content min-content min-content min-content;

		grid-template-areas:
			"address highlights"
			"skills journey"
			"skills education";
		grid-column-gap: 40px;
		grid-row-gap: 40px;
	}

	&__title {
		grid-area: title;
	}

	&__highlights {
		grid-area: highlights;
	}

	&__journey {
		grid-area: journey;

		@include for-tablet-landscape-up {
			justify-content: space-between;
		}
	}

	&__education {
		grid-area: education;

		@include for-tablet-landscape-up {
			justify-content: space-between;
		}

		h4 {
			margin: 10px 0;
			width: fit-content;
		}
	}

	&__address {
		grid-area: address;
		min-height: 135px;
		justify-content: space-between;
		width: 100%;
		background-color: #f9f0a3;
		padding: 20px 10px;
		border-radius: $primary-rad;

		@include for-tablet-landscape-up {
			min-height: 95px;
			padding: 0;
			background-color: #fff;
			box-shadow: none;
			border-radius: 0;
		}
	}

	&__skills {
		grid-area: skills;

		@include for-tablet-landscape-up {
			justify-self: start;
		}
	}

}


.certificate-holder {
	display: flex;
	flex-flow: row wrap;
	gap: 20px;
}

.certificate {
	width: 170px;
	position: relative;

	img {
		width: 100%;
		height: auto;
	}

	span {
		transform-origin: center center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-60deg);
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
