<!--contact information -->
<address class="column column--left-aligned gap-10">
    <a href="#">
        <i class="fas fa-user"></i>
        Emiliya Chavdarova
    </a>
    <a href="#">
        <i class="fas fa-map-marker-alt"></i>
        Hamburg, Germany
    </a>
    <a href="mailto:chavdarova.e@gmail.com">
        <i class="fas fa-envelope"></i>
        {{ 'chavdarova.e@gmail.com' }}
    </a>
    <a
        href="https://www.linkedin.com/in/emiliya-chavdarova"
        class="ellipsis"
        target="_blank">
        <i class="fab fa-linkedin"></i>
        {{ 'https://www.linkedin.com/in/emiliya-chavdarova/' }}
    </a>
    <a
        href="https://github.com/chavdarovae"
        target="_blank">
        <i class="fab fa-github-square"></i>
        {{ 'https://github.com/chavdarovae' }}
    </a>
</address>

<!--highlights-->
<article class="highlights">{{ 'about.highlight' | translate }}</article>

<!--skill set-->
<article class="skill-holder column column--centered column--space-btw">
    <article class="skill">
        <h3>{{ 'about.skills.core' | translate }}</h3>
        <ul>
            <li>JavaScript / TypeScript</li>
            <li>Angular / RxJS / NgRx</li>
            <li>Express / NestJS</li>
            <li>jQuery</li>
            <li>Sammy.js</li>
            <li>Jasmin / Jest</li>
            <li>Cypress</li>
            <li>HTML</li>
            <li>CSS / SASS</li>
            <li>MongoDB</li>
            <li>Figma / Sketch</li>
            <li>Handlebars</li>
            <li>MJML</li>
            <li>REST</li>
            <li>AJAX</li>
            <li>GIT / GitLab / GitHub</li>
            <li>Confluence / Jira</li>
        </ul>
    </article>

    <article class="skill">
        <h3>{{ 'about.skills.additional' | translate }}</h3>
        <ul>
            <li>{{ 'about.skills.solver' | translate }}</li>
            <li>{{ 'about.skills.designer' | translate }}</li>
            <li>{{ 'about.skills.leader' | translate }}</li>
            <li>{{ 'about.skills.manager' | translate }}</li>
        </ul>
    </article>

    <article class="skill">
        <h3>{{ 'about.skills.engineering' | translate }}</h3>
        <ul>
            <li>AutoCAD</li>
            <li>Autodesk Revit</li>
            <li>SAP 2000 & Midas Civil</li>
            <li>SketchUp & Aztec</li>
        </ul>
    </article>

    <article class="skill">
        <h3>{{ 'about.skills.language' | translate }}</h3>
        <ul>
            <li>{{ 'about.skills.bg' | translate }}</li>
            <li>{{ 'about.skills.en' | translate }}</li>
            <li>{{ 'about.skills.de' | translate }}</li>
            <li>{{ 'about.skills.it' | translate }}</li>
        </ul>
    </article>
</article>

<!--journey -->
<article class="column column--centered gap-20">
    <h2>{{ 'about.journey.title' | translate }}</h2>

    <div class="icon">
        <img
            src="icons/crossroad.svg"
            alt="Crossroads icon" />
    </div>

    <div>
        @for (parIndex of 5 | rangePipe; track parIndex) {
            <p>{{ 'about.journey.p' + parIndex | translate }}</p>
        }
    </div>
</article>

<!--education -->
<article class="column column--centered gap-40">
    <div class="column column--centered gap-20">
        <h2>{{ 'about.education.title' | translate }}</h2>

        <div class="icon">
            <img
                src="icons/education.svg"
                alt="Brain icon" />
        </div>
    </div>

    <div class="column column--left-aligned gap-40">
        <div>
            <h3>{{ 'about.education.softUni' | translate }}</h3>
            <h4>{{ 'about.education.program' | translate }}</h4>

            <div class="certificate-holder">
                <h5 class="text--centered">{{ 'about.education.certificates' | translate }}</h5>
                @for (cert of certificateList; track cert) {
                    <div
                        class="certificate"
                        (click)="showModal = true; currCertificateImg = 'images/certification/' + cert.img">
                        <img
                            [src]="'images/certification/' + cert.img"
                            [alt]="'images ' + cert.course" />
                        <span>{{ cert.course }}</span>
                    </div>
                }
            </div>
        </div>

        <div>
            <h3>{{ 'about.education.uasg' | translate }}</h3>
            <h4>{{ 'about.education.master' | translate }}</h4>
        </div>
    </div>
</article>

<emc-modal
    [show]="showModal"
    entity="recipe"
    (close)="showModal = false">
    <img
        style="max-height: 90vh; width: auto"
        [src]="currCertificateImg"
        [alt]="currCertificateImg + ' Image'" />
</emc-modal>
