@use "../settings/settings-variables" as *;

h1,
h2,
h3,
h5,
h6 {
    font-family: $font-pri;
	font-weight: 400;
}

h4,
.h4-like-title,
.h4-like {
    font-family: $font-sec;
}

h1 {
    font-size: 28px;
    line-height: 24px;
}

h2 {
    font-size: 24px;
    line-height: 21px;
	font-weight: 600;
}

h3 {
    font-size: 20px;
    line-height: 18px;
	font-weight: 500;
}

h4,
.h4-like,
.h4-like-title {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
}

h5 {
    font-size: 16px;
    line-height: 18px;
}

