a {
    font-family: $font-pri;
    font-size: 14px;
    font-style: normal;
    color: $text-pri;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    color: $app-pri;
    transform: scale(1.01);
}
