@use "../settings/settings-variables" as *;
@use "../settings/settings-breakpoints" as *;

.page > * {
	display: flex;
	flex-flow: column nowrap;
	gap: 20px;

	@include for-tablet-landscape-up {
		gap: 30px;
    }

    @include for-desktop-up {
		gap: 40px;
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    &--centered {
        justify-content: center;
    }

    &--left-aligned {
        justify-content: flex-start;
    }

    &--right-aligned {
        justify-content: flex-end;
    }

    &--space-btw {
        justify-content: space-between;
    }
}

.column {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    &--centered {
        align-items: center;
    }

    &--left-aligned {
        align-items: flex-start;
    }

    &--right-aligned {
        align-items: flex-end;
    }

	&--space-btw {
        justify-content: space-between;
    }
}

@for $i from 1 through 20 {
	.gap-#{5*$i} {
		gap: 5px*$i !important;
	}
}


