@import "settings-variables";
@import "settings-breakpoints";

.anchor-nav {
	position: fixed;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);

	&__list {
		width: 15px;
		height: 450px;
		display: flex;
		flex-flow: row nowrap;
		writing-mode: vertical-rl;
		text-orientation: upright;

		@include for-tablet-landscape-up {
			width: 30px;
		}
	}

	&__list-item {
		width: 15px;
		height: 210px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid $primary-color;
		border-top: 1px solid $primary-color;
		border-bottom: 1px solid $primary-color;

		@include for-tablet-landscape-up {
			width: 30px;
		}

		&:last-child {
			border-bottom: 2px solid $primary-color;
		}

		&:first-child {
			border-top: 2px solid $primary-color;
		}

		&:hover {
			border-color: $primary-light-color;
		}
	}

	&__list-link {
		width: 100%;
		height: 100%;
		text-transform: lowercase;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $primary-color;
		background-color: #ffffff;

		@include for-tablet-landscape-up {
			text-transform: uppercase;
		}


		&:hover {
			background-color: $primary-light-color;
			color: #ffffff;
		}
	}

	&__list-link--current {
		background-color: $primary-color;
		color: #ffffff;

		&:hover {
			background-color: $primary-light-color;
			color: #ffffff;
		}
	}
}
