@import "settings-variables";
@import "settings-breakpoints";

.anchor-nav {
	position: fixed;
	top: 100px;
	left: 0;
	transform: translate(0, 0);

	@include for-desktop-up {
		display: none;
	}

	&__list {
		width: 15px;
		height: 450px;
		display: flex;
		flex-flow: row nowrap;
		writing-mode: vertical-rl;
		text-orientation: upright;

		@include for-tablet-landscape-up {
			width: 30px;
		}
	}

	&__list-item {
		width: 15px;
		height: 210px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid $app-pri;
		border-top: 1px solid $app-pri;
		border-bottom: 1px solid $app-pri;

		@include for-tablet-landscape-up {
			width: 30px;
		}

		&:last-child {
			border-bottom: 2px solid $app-pri;
		}

		&:first-child {
			border-top: 2px solid $app-pri;
		}

		&:hover {
			border-color: $app-ter;
		}
	}

	&__list-link {
		width: 100%;
		height: 100%;
		text-transform: lowercase;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $app-pri;
		background-color: $app-bg;

		@include for-tablet-landscape-up {
			text-transform: uppercase;
		}


		&:hover {
			background-color: $app-ter;
			color: #ffffff;
		}
	}

	&__list-link--current {
		background-color: $app-pri;
		color: #ffffff;

		&:hover {
			background-color: $app-ter;
			color: #ffffff;
		}
	}
}
