@import "settings-variables";
@import "settings-breakpoints";

.main__courses {
	.content-container {
		.main__info {
			@include for-tablet-portrait-up {
				grid-column: 1 / 3;
			}

			@include for-desktop-up {
				grid-column: 1 / 4;
			}
		}

		@include for-tablet-portrait-up {
			grid-template-columns: 350px 350px;
			justify-items: center;
			align-items: start;
			justify-content: space-between;

		}

		@include for-tablet-landscape-up {
			grid-template-columns: 400px 400px;
			justify-items: center;
			align-items: start;
			justify-content: space-between;
		}

		@include for-desktop-up {
			grid-template-columns: 400px 400px 400px;
			justify-items: center;
		}
	}
}

.course {
	max-width: 400px;
	width: 300px;
	min-width: 300px;
	padding: 20px 0;
	border-radius: $primary-rad;
	background-image: $course-color;
	overflow: hidden;
	transition: transform 0.2s, box-shadow 0.2s ease-out;

	display: grid;
	grid-template-rows: 215px 180px min-content;

	&:hover {
		transform-origin: center;
		transform: scale(1.02);
		box-shadow: $hover-shadow;
	}

	&__header {
		background-color: #fff;
		overflow: hidden;

		&-title {
			text-align: center;
			text-transform: uppercase;
		}
	}

	&__info {
		padding: 20px 30px;

		&-focus {
		}

		&-scope {
			li {
				opacity: 0;
			}
		}

		&-link {
			margin: 20px 0;
			opacity: 0;

			a {
				color: $primary-color;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}

	&__footer {
		padding: 0 30px;
	}

	&--current {
		grid-template-rows: 215px min-content min-content;

		.course__info-scope,
		.course__info-link {
			display: block;
		}
	}
}
