@import "settings-variables";
@import "settings-breakpoints";

.course-holder {
	width: 350px;
	height: 500px;
	perspective: 1000px;
	cursor: pointer;

	.course {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		justify-content: stretch;
		gap: 10px;
		width: 100%;
		height: 100%;
		padding: 20px 0 20px 0;
		background: $course-color;
		border-radius: $primary-rad;
		box-shadow: $hover-shadow;
		position: absolute;
		backface-visibility: hidden;
		transition: transform 1s;
		transform-style: preserve-3d;
		overflow: hidden;

		&__header {
			width: 100%;
			background-color: $primary-color;
			color: $nav-hover-color;
			text-transform: uppercase;
			text-align: center;
			padding: 10px 0;
			position: fixed;
			z-index: 5;
			top: 30px;
		}

		&__image {
			overflow: hidden;
			width: 100%;
			height: 300px;

			div {
				width: 100%;
				height: 100%;
				max-height: 100%;
				min-height: 100%;
				background-size: cover;
				background-position: center;
			}
		}

		&__body {
			padding: 0 30px;
			display: flex;
			flex-flow: column nowrap;
			gap: 20px;
		}

		&__footer {
			width: 100%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			margin-top: auto;
			padding: 0 30px;
		}

		h4 {
			font-weight: 800;
			margin-bottom: 10px;
		}

		ul {
			max-height: 300px;
			overflow-y: auto;
		}

		&.front {
			z-index: 2;
		}

		&.back {
			padding-top: 90px;
			transform: rotateY(180deg);
		}
	}


	&.flipped .front {
		transform: rotateY(180deg);
	}

	&.flipped .back {
		transform: rotateY(0deg);
		z-index: 3;
	}


	a {
		color: $primary-color;
	}

	a:hover {
		text-decoration: underline;
	}
}



