@import "settings-variables";
@import "settings-breakpoints";

.courses {

	&__info {
		grid-column: 1/-1;
	}

	&__title {&__info {
		grid-column: 1/-1;
	}}
}

.course {
	max-width: 400px;
	width: 300px;
	min-width: 300px;
	padding: 20px 0;
	border-radius: $primary-rad;
	background-image: $course-color;
	overflow: hidden;
	transition: transform 0.2s, box-shadow 0.2s ease-out;
	cursor: pointer;

	display: grid;
	grid-template-rows: 215px 180px min-content;

	&:hover {
		transform-origin: center;
		transform: scale(1.02);
		box-shadow: $hover-shadow;
	}

	&__header {
		background-color: #fff;
		overflow: hidden;

		&-title {
			text-align: center;
			text-transform: uppercase;
		}
	}

	&__info {
		padding: 20px 30px;

		&-focus {
		}

		&-scope {
			li {
				opacity: 0;
			}
		}

		&-link {
			width: 100%;
			margin: 20px 0;

			a {
				color: $primary-color;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}

	&__footer {
		padding: 0 30px;
	}

	&--current {
		grid-template-rows: 215px min-content min-content;

		.course__info-scope,
		.course__info-link {
			display: block;
		}
	}
}
