<app-anchor-nav
	[navList]="vertNavList"
	[selectedNav]="selectedNav"
	transPrefix="experience.labels.">
</app-anchor-nav>

@for (exp of experienceList; track exp.id) {
	<article class="work" [id]="exp.id + 'Div'">

		<div class="work__media">
			<div class="work__media-img">
				<img [src]="'images/' + exp.id + '.jpg'" [alt]="exp.id + ' image'">
			</div>
		</div>

		<div class="work__position">
			<h3>{{ ('experience.' + exp.id + '.position') | translate }}</h3>
			<h4>{{ exp.employer}}</h4>
		</div>

		<span class="work__period h4-like">{{ exp.period}}</span>

		<div class="work__description column gap-5">
			<p *ngFor="let item of exp.descriptionItems | rangePipe"> {{('experience.' + exp.id + '.description.' + item) | translate }}</p>
			<p>{{ 'experience.labels.furtherInfo' | translate }}
				<a [routerLink]="['/projects']" [fragment]="exp.id" class="work__description-link" id="projects">{{ 'experience.labels.clickHere' | translate }}</a>
			</p>
		</div>
	</article>
}
