@import "settings-variables";
@import "settings-breakpoints";

.main__experience {
	.content-container {
	}
}

.work {
	border-radius: $primary-rad;
	box-shadow: $primary-shadow;
	padding: 30px 10px;
	display: grid;
	row-gap: 20px;
	column-gap: 20px;
	grid-template-columns: 100%;
	grid-template-rows: min-content min-content min-content min-content min-content;
	grid-template-areas:
        "period"
        "position"
        "employer"
        "image"
        "description";

	@include for-tablet-landscape-up {
		grid-template-columns: 300px 1fr 200px;
		grid-template-rows: 30px 20px min-content;
		grid-template-areas:
            "image position period"
            "image employer employer"
            "image description description";
	}

	&__media {
		grid-area: image;
		align-self: center;
		overflow: hidden;
		border-radius: $primary-rad;
	}

	&__position {
		grid-area: position;
	}

	&__employer {
		grid-area: employer;
	}

	&__period {
		grid-area: period;
	}

	&__description {
		grid-area: description;
		overflow: hidden;
	}
}
