<section class="main__experience" id="experienceSection">
	<div class="content-container">
		<h2 class="main__title page-title">Work experience</h2>

		<article class="work">
			<div class="work__media">
				<div class="work__media-img">
					<img src="images/Colleto/colleto.jpg" alt="Digital colleto image">
				</div>
			</div>
			<h3 class="work__position">Frontend Developer</h3>
			<h4 class="work__employer">Colleto GmbH – Hamburg, Germany</h4>
			<span class="work__period h4-like">2022, March - present</span>
			<div class="work__description">
				<p>
					Development and UX design of three Angular applications, that cover the whole freight furthering workflow. Organised in a
				</p>
				<ul class="text-like-list">
					<li><a href="https://new.colleta.de/">Colleta für Disponenten</a> - Transport dispatcher
						platform, where shipments are disopsed and tours are assigned</li>
					<li><a href="https://tu.colleta.de/">Colleta für Transporunternehmer</a> - Transport service provider
						platform, where transoprt orders are received</li>
					<li><a href="https://backoffice.colleta.de/">Colleta für Betreiber</a> - User management platform, binding
						the other tree apps</li>
				</ul>
				<p>
					These Web Applications togehter digitalise the palette truck transport process chain and
					offer.
				</p>
				<p>
					For further information see <a href="#" class="work__description-link" id="projects">Projects</a> section.
				</p>
			</div>
		</article>

		<article class="work">
			<div class="work__media">
				<div class="work__media-img">
					<img src="images/Carrypicker/Teaser_Logistik.jpg" alt="Digital logistic image">
				</div>
			</div>
			<h3 class="work__position">Frontend Developer</h3>
			<h4 class="work__employer">Carrypicker GmbH – Hamburg, Germany</h4>
			<span class="work__period h4-like">2021, January - 2022, March</span>
			<div class="work__description">
				<p>
					Support, further development and UX design of a web-based ecosystem of four web applications
					for digital logistics.
				</p>
				<ul class="text-like-list">
					<li><a href="https://my.carrypicker.com/">Carrypicker</a> - Shippers platform, where
						shipment orders are placed</li>
					<li><a href="https://neu.colleta.de/">Colleta TMS</a> - Transport management/Dispatcher
						platform, where shipments are disopsed and tours are assigned</li>
					<li><a href="https://trucking.colleta.de/">Colleta Trucking</a> - Transport service provider
						platform, where transoprt orders are received</li>
					<li><a href="https://my.colleta.de/">Colleta Manager</a> - User management platform, binding
						the other tree apps</li>
				</ul>
				<p>
					These Web Applications togehter digitalise the palette truck transport process chain and
					offer an AI-based logistics solution for all companies that want to ship their truck freight
					easily, efficiently and sustainably.
				</p>
				<p>
					For further information see <a href="#" class="work__description-link"
												   id="projects">Projects</a> section.
				</p>
			</div>
		</article>

		<article class="work">
			<div class="work__media">
				<div class="work__media-img">
					<img src="images/freelance/ferenc-almasi-VPmMy8YA_cU-unsplash.jpg" alt="IT image">
				</div>
			</div>
			<h3 class="work__position">Junior Software Engineer</h3>
			<h4 class="work__employer">Freelance – Hamburg, Germany</h4>
			<span class="work__period h4-like">2020- 2021</span>
			<div class="work__description">
				<p>
					Designed, developed and deployed an MVP Performance Management Tool – a single-page
					application inspired by Six Sigma performance improvement techniques. Implemented a couple
					of Single Page Applications with educational purpose - platforms for sharing and rating
					inspiring movie and song titles.
				</p>
				<p>
					For further information see <a href="#" class="work__description-link">Projects</a> section.
				</p>
			</div>
		</article>

		<article class="work">
			<div class="work__media">
				<div class="work__media-img">
					<img src="images/Pohnpei/1.jpg" alt="Pohnpei Solar Farm">
				</div>
				<div class="hidden work__media-img">
					<img src="images/Pohnpei/2.jpg" alt="Pohnpei Solar Farm">
				</div>
			</div>

			<h3 class="work__position">Site Manager</h3>
			<h4 class="work__employer">STENLI - 03 LTD – Lom, Bulgaria</h4>
			<span class="work__period h4-like">2016 - 2017</span>
			<div class="work__description">
				Site management and coordination role for Pohnpei Solar Farm, The
				Federated States of Micronesia. 640kW installed solar capacity of strategical relevance to
				Pohnpei island power generation system.
			</div>
		</article>

		<article class="work">
			<div class="work__media">
				<div class="work__media-img">
					<img src="images/PDV/1.jpg" alt="Pedemontana Veneta">
				</div>
				<div class="hidden work__media-img">
					<img src="images/PDV/2.jpg" alt="Pedemontana Veneta">
				</div>
				<div class="hidden work__media-img">
					<img src="images/PDV/3.jpg" alt="Pedemontana Veneta">
				</div>
				<div class="hidden work__media-img">
					<img src="images/PDV/4.jpg" alt="Pedemontana Veneta">
				</div>
			</div>
			<h3 class="work__position">Assistant Planning Coordinator</h3>
			<h4 class="work__employer">SIPAL S.p.a. – Turin, Italy</h4>
			<span class="work__period h4-like">2013 - 2015</span>
			<div class="work__description">
				Assistant planning coordination, structural design and design
				supervision role for Pedemontana Veneta Expressway. 95km road artery with great significance
				for Northern Itlay and Eastern Europe, construction cost € 2.4 billion.
			</div>
		</article>

		<article class="work">
			<div class="work__media">
				<div class="work__media-img">
					<img src="images/Way/SS640-1.jpg" alt="SS640 State Road">
				</div>
				<div class="hidden work__media-img">
					<img src="images/Way/SS640-2.jpg" alt="SS640 State Road">
				</div>
				<div class="hidden work__media-img">
					<img src="images/Way/saida-tiaret-1.jpg" alt="Saida-Tiaret Railway">
				</div>
				<div class="hidden work__media-img">
					<img src="images/Way/saida-tiaret-2.jpg" alt="Saida-Tiaret Railway">
				</div>
			</div>
			<h3 class="work__position">Head Of Structural Department</h3>
			<h4 class="work__employer">WAY ENGINEERING AD – Sofia, Bulgaria</h4>
			<span class="work__period h4-like">2009 - 2013</span>
			<div class="work__description">
				<p>
					Developed the structural design department in Way Engineering AD -
					Bulgarian branch of SICS Ingegneria S.r.l. Organized and managed its growth from 2 initial
					employees to 15 in 3 years. Responsible for team recruitment, manpower management and
					direction
					of design works.
				</p>
				<p>
					Project coordination role for three significant infrastructural projects and various tender
					procedures:
				</p>
				<ul class="text-like-list">
					<li>
						DG48 Salerno-Reggio Calabria Highway – 30km, Italy, construction cost € 650 million.
						Road facilities design for the main contractor SIS Scpa, Italy
					</li>
					<li>
						State road SS640 – 35km, Italy, construction cost € 739 million. Road facilities design
						for the main contractor Empedocles II Scpa, Italy,
					</li>
					<li>
						Saida – Tiaret Railway -153km, Algeria, Road and rail way facilities design for the main
						contractor Astaldi S.p.a, Italy
					</li>
				</ul>
			</div>
		</article>

		<article class="work">
			<div class="work__media">
				<div class="work__media-img">
					<img src="images/Akropolis/1.jpg" alt="Akropolis">
				</div>
			</div>
			<h3 class="work__position">Personal Assistant Head Of Development Department</h3>
			<h4 class="work__employer">AKROPOLIS BG LTD – Sofia, Bulgaria</h4>
			<span class="work__period h4-like">2007 - 2008</span>
			<div class="work__description">
				Coordination role for Akropolis Shopping and Entertainment Center –
				a 524,000 sq.m. multifunctional commercial complex (shopping mall and office towers) in Sofia.
				Responsible for the official communication and the department documentation (concept and
				tender design stage). Preparation and execution of contractor appointment procedures.
			</div>
		</article>

		<article class="work">
			<div class="work__media">
				<div class="work__media-img">
					<img src="images/NY-Street/1.jpg" alt="New York Street Set">
				</div>
				<div class="hidden work__media-img">
					<img src="images/NY-Street/2.jpg" alt="New York Street Set">
				</div>
				<div class="hidden work__media-img">
					<img src="images/NY-Street/3.jpg" alt="New York Street Set">
				</div>
			</div>
			<h3 class="work__position">Design Coordinator</h3>
			<h4 class="work__employer">NU BOYANA FILM STUDIO – Sofia, Bulgaria</h4>
			<span class="work__period h4-like">2006 - 2007</span>
			<div class="work__description">
				Design coordination role for the large-scale movie set “New York
				Street”, Sofia, Bulgaria – 8000 sq.m with real size buildings, power and water supplied,
				construction cost € 3,5 million. Art design and on-site supervision. Responsible for the
				design
				localization and the official correspondence.
			</div>
		</article>

		<article class="work">
			<div class="work__media">
				<div class="work__media-img">
					<img src="images/Sofia-Airport/1.jpg" alt="Sofia Airport">
				</div>
				<div class="hidden work__media-img">
					<img src="images/Sofia-Airport/2.jpg" alt="Sofia Airport">
				</div>
				<div class="hidden work__media-img">
					<img src="images/Sofia-Airport/3.jpg" alt="Sofia Airport">
				</div>
			</div>
			<h3 class="work__position">Student Trainee</h3>
			<h4 class="work__employer">STRABAG EAD – Sofia, Bulgaria</h4>
			<span class="work__period h4-like">2005 - 2006</span>
			<div class="work__description">
				Trainee civil engineer during the As-built design stage of Sofia
				Airport – Terminal 2, Bulgaria, construction cost € 120 million. On-site processes
				assistance
				and survey data adoption for design purposes.
			</div>
		</article>
	</div>
</section>
