<section class="main__experience" id="experienceSection">
	<div class="content-container">
		<h2 class="main__title page-title">Work experience</h2>

		@for (exp of experienceList; track exp.id) {
			<article class="work">
				<div class="work__media">
					<div class="work__media-img">
						<img [src]="'images/' + exp.imgPath" [alt]="exp.imgAlt">
					</div>
				</div>
				<h3 class="work__position">{{ exp.position }}</h3>
				<h4 class="work__employer">{{ exp.employer}}</h4>
				<span class="work__period h4-like">{{ exp.period}}</span>
				<div class="work__description" [innerHTML]="exp.description"></div>
			</article>
		}

	</div>
</section>
