@use 'settings-variables' as *;
@use 'settings-breakpoints' as *;

:host {
    width: 100%;
    height: 100%;
}

.rotator {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.rotator__img {
    width: 100%;
    height: auto;
    position: absolute;
    transform-origin: center center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include for-tablet-landscape-up {
        height: 100%;
        width: auto;
    }
}
