@import "settings-variables";
@import "settings-breakpoints";

.main__projects {
	.content-container {
	}

	p {
		width: 100%;
		margin-bottom: 10px;
	}
}

.project {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	&__title {
		text-align: center;
	}

	&__icon {
		width: 50px;
		margin: 20px;
	}

	&__media {
		margin: 20px 0;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 20px;
		column-gap: 20px;
		justify-items: center;
		align-items: start;
		justify-content: space-between;
		position: relative;

		@include for-tablet-landscape-up {
			grid-template-columns: 1fr 1fr 1fr;
		}

		&--info {
			@include for-tablet-landscape-up {
				grid-template-columns: 1fr 1fr;
			}
		}

		&:hover {
		}
	}

	&__media-img {
		max-width: 100%;
		border-radius: $primary-rad;
		box-shadow: $secondary-shadow;
		overflow: hidden;

		@include for-tablet-portrait-up {
			max-width: 70%;
		}

		@include for-tablet-landscape-up {
			max-width: 300px;
		}

		&--big {
			@include for-tablet-portrait-up {
				max-width: 70%;
			}

			@include for-tablet-landscape-up {
				max-width: 100%;
			}
		}
	}

	&__media-img:not(:nth-child(2)) {
		display: none;

		@include for-tablet-landscape-up {
			display: block;
		}
	}
}
