@use "../settings/settings-variables" as *;
@use "../settings/settings-breakpoints" as *;

.preview {
  width: 100vw;
  height: 100vh;
  padding: 0 3px;
  display: none;
  grid-template-columns: 15vw 70vw 15vw;
  grid-template-rows: 80vh 10vh 10vh;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  grid-template-areas:
    "box box box"
    "backwards indicator forwards";

  @include for-tablet-landscape-up {
    grid-template-columns: 35vw 30vw 35vw;
  }

  &__box {
    grid-area: box;
    max-width: 90vw;
    max-height: 90vh;
    background: #f0f0f0;
    padding: 25px 5px 5px 5px;
    border-radius: $rounding-pri;
    box-shadow: $shadow-pri;
    position: relative;
    z-index: 12;
    overflow: hidden;

    @include for-tablet-portrait-up {
      max-width: 90vw;
      max-height: 90vh;
    }

    @include for-tablet-landscape-up {
      max-width: 90vw;
      max-height: 90vh;
    }

    @include for-desktop-up {
    }

    &-close,
    &-description {
      position: absolute;
      cursor: pointer;
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: $text-pri;
    }

    &-close {
      top: 0;
      right: 0;
      padding: 3px 10px;
      cursor: pointer;
    }

    &-description {
      width: calc(100% - 30px);
      text-align: center;
      top: 0;
      left: 0;
      padding: 3px;
      white-space: nowrap;
      overflow: hidden;
    }

    &-img {
      max-width: 100%;
      max-height: 100%;
      transition: transform 0.6s ease;
    }
  }

  &__control {
    z-index: 12;

    &--backwards {
      grid-area: backwards;
    }

    &--forwards {
      grid-area: forwards;
    }

    i {
      color: #f0f0f0;
      font-size: 60px;

      @include for-tablet-landscape-up {
        font-size: 100px;
      }
    }
  }

  &__backdrop {
    display: none;
    opacity: 0;
    background-color: #000;
    filter: alpha(opacity=0);
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 11;
  }

  &__indicator {
    grid-area: indicator;
    grid-column: 1 / -1;
    position: relative;
    z-index: 12;
    overflow: hidden;

    &-item {
      border-radius: 50%;
      height: 15px;
      width: 15px;
      margin: 5px;
      background-color: #f0f0f0;
      box-shadow: $shadow-sec;
      cursor: pointer;

      @include for-tablet-landscape-up {
        margin: 10px;
      }

      &--current {
        background-color: $app-pri;
        box-shadow: $shadow-pri;
      }
    }
  }
}
