@use 'settings-variables' as *;
@use 'settings-breakpoints' as *;

.work {
    border-radius: $rounding-pri;
    box-shadow: $shadow-pri;
    padding: 30px 20px;
    display: grid;
    row-gap: 30px;
    column-gap: 20px;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content min-content min-content min-content;
    grid-template-areas:
        'period'
        'position'
        'image'
        'description';

    @include for-tablet-landscape-up {
        grid-template-columns: 400px 1fr 300px;
        grid-template-rows: 30px auto;
        row-gap: 40px;
        grid-template-areas:
            'image position period'
            'image description description';
    }

    &__media {
        grid-area: image;
        align-self: center;
        overflow: hidden;
        border-radius: $rounding-pri;
    }

    &__position {
        grid-area: position;
        h3 {
            margin-bottom: 10px;
        }
    }

    &__period {
        grid-area: period;
        justify-self: flex-start;

        @include for-tablet-landscape-up {
            justify-self: flex-end;
        }
    }

    &__description {
        grid-area: description;
        overflow: hidden;
    }
}
