@use '../settings/settings-variables' as *;

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;

    * {
        margin: 0;
        padding: 0;
        font-family: $font-pri;
        font-size: 16px;
        color: $text-pri;
    }
}
