<header class="header">
	<div class="content-container">
		<div class="header__logo header__logo--backend">
			<img src="icons/noun_back end_133744.svg" alt="back-end-icon">
			<div class="header__logo-lang-bar header__logo-lang-bar--backend">EN</div>
		</div>
		<nav class="nav">
			<ul class="nav__list row row--right-aligned">
				<li class="nav__list-item"><a routerLink="about" class="nav__list-link">About</a></li>
				<li class="nav__list-item"><a routerLink="courses" class="nav__list-link">Courses</a></li>
				<li class="nav__list-item"><a routerLink="experience" class="nav__list-link">Experience</a></li>
				<li class="nav__list-item"><a routerLink="projects" class="nav__list-link">Experience</a></li>
			</ul>
		</nav>
		<div class="header__logo header__logo--frontend">
			<img src="icons/noun_front end_133743.svg" alt="front-end-icon">
			<div class="header__logo-lang-bar header__logo-lang-bar--frontend">EN</div>
		</div>
	</div>
</header>

<main class="main">
	<router-outlet></router-outlet>
</main>

<footer class="footer">
	Contact me!
</footer>
