@import "settings-variables";
@import "settings-breakpoints";

.nav {
	height: 70px;
	margin-left: auto;

	&__link {
		height: 100%;
		padding: 0 4px;
		font-weight: 500;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 400ms ease-out;
		cursor: pointer;
		position: relative;

		&:last-child {
			margin-right: 10px;
		}

		@include for-phone-up {
			padding: 0 7px;
		}

		@include for-tablet-landscape-up {
			padding: 0 15px;
		}

		&:hover {
			text-decoration: none;
			color: $app-pri;
			background-color: $nav-hover;
		}
	}

	&__link--current::before {
		content: "";
		display: block;
		width: 100%;
		height: 5px;
		background-color: $app-pri;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.header {
	height: 70px;
	background: #fff;
	box-shadow: $shadow-pri;
	color: $app-pri;
	position: relative;

	&__title {
		position: absolute;
		bottom: -23px;
		left: 50%;
		transform: translate(-50%, 0);

		background-color: #fff;
		font-family: "Lato", sans-serif;
		color: $text-pri;
		font-size: 25px;
		font-weight: 700;
		text-transform: uppercase;
		white-space: nowrap;
		letter-spacing: -1px;
		line-height: 1;
		padding: 2px 10px;
	}

	.content-container {
		display: grid;
		grid-template-columns: 1fr;

		@include for-phone-up {
			display: grid;
			grid-template-columns: 50px 1fr;
			grid-column-gap: 5px;
		}

		@include for-tablet-landscape-up {
			grid-template-columns: 50px 1fr 50px;
			grid-column-gap: 30px;
		}
	}

	&__logo {
		width: 50px;
		padding: 10px 0;
		position: relative;

		&-lang-bar{
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #fff;
			font-size: 13px;
			line-height: 1;
			border: 1px solid $app-pri;
			width: 22px;
			height: 18px;
			cursor: pointer;
			z-index: 5;

			&--backend {
				top: 50%;
				left: 0;
				transform: translate(2px, -50%);

				@include for-tablet-landscape-up {
					display: none;
				}
			}

			&--frontend {
				top: 50%;
				right: 0;
				transform: translate(-2px, -50%);
			}
		}

		&--backend {
			display: none;

			@include for-phone-up {
				display: block;
			}
		}

		&--frontend {
			display: none;

			@include for-tablet-landscape-up {
				display: block;
			}
		}
	}
}

.main {
	position: relative;
	padding: 50px 20px;
	color: $text-pri;
}


footer {
	background-color: $app-sec;

	.content-container {
		padding: 10px 0;
		display: flex;
		flex-flow: column nowrap;
		gap: 5px;
		justify-content: center;
		align-items: center;

		@include for-tablet-landscape-up {
			flex-flow: row nowrap;
			gap: unset;
			justify-content: space-between;
		}

		* {
			color: $text-sec;
		}
	}
}

