@use "settings-variables" as *;
@use "settings-breakpoints" as *;

.header {
	width: 100%;
	height: 70px;
	box-shadow: $shadow-pri;
	color: $app-pri;
	background: $app-bg;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	&__title {
		padding: 2px 10px;
		background-color: inherit;
		border-radius: $rounding-pri;
		font-family: $font-sec;
		font-size: 25px;
		font-weight: 700;
		line-height: 1;
		letter-spacing: -1px;
		white-space: nowrap;
		text-transform: uppercase;
		position: absolute;
		bottom: -16px;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 11;
		box-shadow: $shadow-pri;

		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 106%;
			height: 60%;
			background: white;
			z-index: -1;
			top: -15%;
			left: -3%;
		}
	}

	.navigation {
		display: grid;
		grid-template-columns: 1fr;

		@include for-phone-up {
			display: grid;
			grid-template-columns: 50px 1fr;
			grid-column-gap: 5px;
		}

		@include for-tablet-landscape-up {
			grid-template-columns: 50px 1fr 50px;
			grid-column-gap: 30px;
		}
	}

	&__logo {
		width: 50px;
		padding: 10px 0;
		position: relative;

		&-lang-bar {
			width: 22px;
			height: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $app-bg;
			border: 1px solid $app-pri;
			font-family: $font-sec;
			font-size: 13px;
			font-weight: 500;
			line-height: 1;
			color: $app-pri;
			position: absolute;
			z-index: 5;
			cursor: pointer;

			&--backend {
				top: 50%;
				left: 0;
				transform: translate(2px, -50%);

				@include for-tablet-landscape-up {
					display: none;
				}
			}

			&--frontend {
				top: 50%;
				right: 0;
				transform: translate(-2px, -50%);
			}
		}

		&--backend {
			display: none;

			@include for-phone-up {
				display: block;
			}
		}

		&--frontend {
			display: none;

			@include for-tablet-landscape-up {
				display: block;
			}
		}
	}
}

.main {
	width: calc(100% - 40px);
	margin: 100px auto 40px auto;
}

.footer {
	background-color: $app-sec;

	.content-container {
		padding: 10px 0;
		display: flex;
		flex-flow: column nowrap;
		gap: 5px;
		justify-content: center;
		align-items: center;

		@include for-tablet-landscape-up {
			flex-flow: row nowrap;
			gap: unset;
			justify-content: space-between;
		}

		* {
			color: $text-sec;
		}
	}
}

.content-container {
	width: 100%;
	margin: 0 auto;

	@include for-tablet-landscape-up {
		max-width: 1000px;
		gap: 40px;
	}

	@include for-desktop-up {
		max-width: 1290px;
		gap: 60px;
	}
}

.menu {
	height: 70px;
	margin-left: auto;

	&__link {
		height: 100%;
		padding: 0 4px;
		font-weight: 500;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 400ms ease-out;
		cursor: pointer;
		position: relative;

		&:last-child {
			margin-right: 10px;
		}

		@include for-phone-up {
			padding: 0 7px;
		}

		@include for-tablet-landscape-up {
			padding: 0 15px;
		}

		&:hover {
			text-decoration: none;
			color: $app-pri;
			background-color: $nav-hover;
		}
	}

	&__link--current {
		font-weight: 700;
	}

	&__link--current::before {
		content: "";
		display: block;
		width: 100%;
		height: 5px;
		background-color: $app-pri;
		position: absolute;
		top: 0;
		left: 0;
	}
}
