@use 'settings-variables' as *;
@use 'settings-breakpoints' as *;

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    border-radius: $rounding-pri;
    overflow: hidden;
    animation: modal-pop 0.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
