@use 'settings-variables' as *;
@use 'settings-breakpoints' as *;

:host {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h2 {
        margin-bottom: 20px;
        color: $app-pri;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px dotted $app-pri;
    }

    .projects-hodler {
        display: flex;
        width: 100%;
        flex-flow: column nowrap;
        align-items: flex-start;
        margin-bottom: 50px;
        justify-content: center;
    }
}

.project {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
    width: 100%;

    h3 {
        align-self: center;
    }

    &__info {
    }

    &__media {
        width: 100%;
        aspect-ratio: calc(16 / 9);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $rounding-pri;
        box-shadow: $shadow-pri;
        overflow: hidden;
        background: whitesmoke;
        padding: 5px;

        @include for-tablet-landscape-up {
            padding: 20px;
        }
    }

    &__media-img {
        max-width: 100%;
        border-radius: $rounding-pri;
        overflow: hidden;
    }

    &__media-img:not(:nth-child(2)) {
        display: none;

        @include for-tablet-landscape-up {
            display: block;
        }
    }
}
