@use 'settings-variables' as *;
@use 'settings-breakpoints' as *;

html {
    scroll-behavior: smooth;
}

h2 + h3,
h3 + h4 {
    margin-top: 10px;
}

.icon {
    width: 50px;
    margin: 30px;
    align-self: center;
}
