@import "settings-variables";
@import "settings-breakpoints";


h3 + h4 {
	margin-top: 10px;
}

[class*="__title"],
[class*="-title"],
[class*="__info"] {
	justify-self: center;
	margin: 10px auto;

	@include for-tablet-landscape-up {
		grid-column: 1 / -1;
		margin: 10px 0;
	}
}

[class*="__title"],
.title {
	text-align: center;
}

.highlighted {
	justify-self: center;
	background-color: #f9f0a3;
	padding: 20px 10px;
	font-family: $font-sec;
	// box-shadow: $shadow-sec;
	border-radius: $rounding-pri;
}

[class*="-icon"],
.icon {
	width: 50px;
	margin: 30px;
}

[class*="-entry"] {
	width: 100%;
	margin-bottom: 10px;
}


