.nav {
    height: 70px;
    margin-left: auto;

    &__list {
        height: 100%;
    }

    &__list-item {
        height: 100%;
        
        &:last-child {
            margin-right: 10px;
        }
    }

    &__list-link {
        height: 100%;
        padding: 0 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color 0.4s, background-color 0.4s ease-out;
        position: relative;

        @include for-phone-up {
            padding: 0 7px;
        }

        @include for-tablet-landscape-up {
            padding: 0 15px;
        }

        &:hover {
            text-decoration: none;
            color: $primary-color;
            background-color: $nav-hover-color;
        }
    }

    &__list-link--current {
        &:before {
            content: "";
            display: block;
            height: 5px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $primary-color;
        }
    }
}
