.skill-set {

    &:not(:last-child){
        padding-bottom:15px;
    }

    &__title {
        width: fit-content;
        background-color: $app-pri;
        border: none;
        border-radius: $rounding-pri;
        // box-shadow: $shadow-sec;
        margin-bottom: 20px !important;
        color: $text-sec;
        text-transform: uppercase;
		font-family: $font-sec;
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;


        @include for-tablet-landscape-up {
            margin: 0;
        }
    }

    &__list {
        text-align: center;

        @include for-tablet-landscape-up {
            text-align: left;
        }
    }

    &__list-item {
        margin: 10px 0 0 0;
    }
}
