@use '../settings/settings-variables' as *;
@use '../settings/settings-breakpoints' as *;

.highlights {
    justify-self: center;
    background-color: #f9f0a3;
    padding: 10px;
    font-family: $font-sec;
    border-radius: $rounding-pri;
    line-height: 1.4;

    @include for-tablet-landscape-up {
        padding: 20px;
    }
}
